@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --platinum: #ebe9e9;
  --cream: #f3f8f2;
  --blue: #3581b8;
  --brown: #fcb07e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--brown);
  color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.nav-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 70px;
}

.loading {
  width: 600px;
  height: 600px;
  border-radius: 15px;
  margin: 16px 0;
  background-color: grey;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}
